

*{
    margin: 0; 
    padding: 0;
    color:rgb(0, 0, 0); 
    font-family: 'Source Code Pro', monospace; 
    box-sizing: border-box; 
    z-index:3;

} 

.content {
    height:1000vh; 
    width: 100%;
    padding: 28px ;
    background: #dfd3c3;
    position: relative; 
    z-index:3;
}



nav {
    width: 100%; 
    display: flex; 
    flex-flow: column-reverse;
    align-items: flex-end; 
    /*justify-content: space-between;*/
}

.logo{
    width: 140px; 
}

.nav-links{
    padding: 28px 0; 
    align-self: right;
}

.nav-links li{
    display: inline-block; 
    margin: 0 15px; 
}

.nav-links li a{
    text-decoration: none;
    padding: 5px 0;
    position: relative; 
}

.nav-links li a::after{
    content: ''; 
    background: #000000;
    width: 0; 
    height: 2px;
    position: absolute; 
    bottom: 0; 
    left: 0; 
    transition: width 0.5s;
}

.nav-links li a:hover::after{
    width: 100%; 
}

#btn{
    border:solid;
    border-width: 2px;
    border-color: #000000; 
    padding: 10px 30px; 
    border-radius: 3px;
    cursor: pointer;
}


/*@media only screen and (min-width : 600px)
{
    h1 
    {
        font-size: 47.3vw;
    }
}*/



h1 {
    color: rgb(0, 0, 0); 
   /* display: relative; */
    flex-flow: column-reverse;
    align-items: left; 
    margin-top: 50px;
    margin-left: 7%;
    font-family: 'Druk Condensed'; 
    text-transform: uppercase;
    font-size: 200px;
    
}

h2 {
    color: rgb(0, 0, 0); 
    display: flex; 
    flex-flow: column-reverse;
    align-items: left; 
    margin-top: 60px;
    margin-left: 7%;
    font-family: 'Druk Condensed'; 
    /*text-transform: uppercase;*/
    font-size: 50px;
    text-decoration: bold;
   /* text-decoration-thickness: 3px;*/
}

h3 {
    color: rgb(0, 0, 0); 
    display: flex; 
    flex-flow: column-reverse;
    align-items: left; 
    margin-top: 20px;
    margin-left: 7%;
    font-family: 'Druk Condensed'; 
    /*text-transform: uppercase;*/
    font-size: 30px;
    
}

p{
    margin-left: 7%;
    margin-top: 7px;  
    border-right: solid 3px rgb(0, 0, 0);
    white-space: nowrap;
    overflow: hidden;  
    /* Make sure text is infront of background images */
    display:block;
    position: relative;
    z-index: 3;
}

p{
    animation: animated-text 4s steps(60) 1s 1 normal both,
               animated-cursor 600ms steps(60) infinite;
}

t{
    margin-left: 7%;
    margin-top: 0.5%;  
    border-right: solid 3px rgb(0, 0, 0);

    white-space: nowrap;
    overflow: hidden;  
    /* Make sure text is infront of background images */
    display:block;
    position: relative;
    z-index: 3;
}

subt{
    margin-left: 7%;
    margin-top: 0.5%;  
    border-right: solid 3px rgb(0, 0, 0);
    font-style: italic;
    white-space: nowrap;
    overflow: hidden;  
    /* Make sure text is infront of background images */
    display:block;
    position: relative;
    z-index: 3;
}

.list{
    margin-left: 10%
}

/* text animation */

@keyframes animated-text{
    from{width: 0;}
    to{width: 770px;}       /* add width */ 
}
/* cursor animations */

@keyframes animated-cursor{
    from{border-right-color:rgb(0, 0, 0);}
    to{border-right-color: transparent;}
}

/*ul {
    padding-left: 7%;
    list-style-type: none;
  }
  
ul li {
    padding-left: 7%;
  }*/


  .grid-container {
    margin-top: 20px;
    margin-left: 7%;
    display: grid;
    grid-template-columns: auto auto ;
    /*background-color: #2196F3;*/
    padding: 10px;
  }
  .grid-item {
    /*background-color: rgba(255, 255, 255, 0.8);*/
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  .grid-pic{
    
  }